@media screen and (max-width: 600px) {
  header {
    justify-content: center;
    gap: 1rem;
  }

  .reverse {
    flex-direction: row;
  }

  .hero-button {
    margin-top: 1rem;
  }

  .hero {
    gap: 3rem;
  }

  .about {
    padding: 7rem 3rem;
  }

  .range-item {
    gap: 2rem;
  }
}
